frontend/.vscode/tasks.json
frontend/.vscode/mcp.json
frontend/.vscode/launch.json
frontend/.vscode/extensions.json
frontend/.vscode/extensions.json
frontend/.vscode/launch.json
frontend/.vscode/mcp.json
frontend/.vscode/tasks.json
backend/.vs/MerkERP/CopilotIndices/17.14.1431.25910/CodeChunks.db
backend/.vs/MerkERP/CopilotIndices/17.14.1431.25910/CodeChunks.db-shm
backend/.vs/MerkERP/CopilotIndices/17.14.1431.25910/CodeChunks.db-wal
backend/.vs/MerkERP/CopilotIndices/17.14.1431.25910/SemanticSymbols.db
backend/.vs/MerkERP/CopilotIndices/17.14.1431.25910/SemanticSymbols.db-shm
backend/.vs/MerkERP/CopilotIndices/17.14.1431.25910/SemanticSymbols.db-wal
backend/.vs/MerkERP/FileContentIndex/f051f445-026c-46d8-8b2d-84b53293af19.vsidx
backend/MerkERP.API/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
backend/MerkERP.API/obj/Debug/net9.0/MerkERP.API.AssemblyInfo.cs
backend/MerkERP.API/obj/Debug/net9.0/MerkERP.API.AssemblyInfoInputs.cache
backend/MerkERP.API/obj/Debug/net9.0/MerkERP.API.assets.cache
backend/MerkERP.API/obj/Debug/net9.0/MerkERP.API.csproj.AssemblyReference.cache
backend/MerkERP.API/obj/Debug/net9.0/MerkERP.API.GeneratedMSBuildEditorConfig.editorconfig
backend/MerkERP.API/obj/Debug/net9.0/MerkERP.API.GlobalUsings.g.cs
backend/MerkERP.API/obj/Debug/net9.0/rpswa.dswa.cache.json
backend/MerkERP.API/obj/Debug/net9.0/staticwebassets.removed.txt
backend/MerkERP.API/obj/MerkERP.API.csproj.nuget.dgspec.json
backend/MerkERP.API/obj/MerkERP.API.csproj.nuget.g.props
backend/MerkERP.API/obj/MerkERP.API.csproj.nuget.g.targets
backend/MerkERP.API/obj/project.assets.json
backend/MerkERP.API/obj/project.nuget.cache
backend/MerkERP.Core/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
backend/MerkERP.Core/obj/Debug/net9.0/MerkERP.Core.AssemblyInfo.cs
backend/MerkERP.Core/obj/Debug/net9.0/MerkERP.Core.AssemblyInfoInputs.cache
backend/MerkERP.Core/obj/Debug/net9.0/MerkERP.Core.assets.cache
backend/MerkERP.Core/obj/Debug/net9.0/MerkERP.Core.GeneratedMSBuildEditorConfig.editorconfig
backend/MerkERP.Core/obj/Debug/net9.0/MerkERP.Core.GlobalUsings.g.cs
backend/MerkERP.Core/obj/MerkERP.Core.csproj.nuget.dgspec.json
backend/MerkERP.Core/obj/MerkERP.Core.csproj.nuget.g.props
backend/MerkERP.Core/obj/MerkERP.Core.csproj.nuget.g.targets
backend/MerkERP.Core/obj/project.assets.json
backend/MerkERP.Core/obj/project.nuget.cache
backend/MerkERP.DAL/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
backend/MerkERP.DAL/obj/Debug/net9.0/MerkERP.DAL.AssemblyInfo.cs
backend/MerkERP.DAL/obj/Debug/net9.0/MerkERP.DAL.AssemblyInfoInputs.cache
backend/MerkERP.DAL/obj/Debug/net9.0/MerkERP.DAL.assets.cache
backend/MerkERP.DAL/obj/Debug/net9.0/MerkERP.DAL.csproj.AssemblyReference.cache
backend/MerkERP.DAL/obj/Debug/net9.0/MerkERP.DAL.GeneratedMSBuildEditorConfig.editorconfig
backend/MerkERP.DAL/obj/Debug/net9.0/MerkERP.DAL.GlobalUsings.g.cs
backend/MerkERP.DAL/obj/MerkERP.DAL.csproj.nuget.dgspec.json
backend/MerkERP.DAL/obj/MerkERP.DAL.csproj.nuget.g.props
backend/MerkERP.DAL/obj/MerkERP.DAL.csproj.nuget.g.targets
backend/MerkERP.DAL/obj/project.assets.json
backend/MerkERP.DAL/obj/project.nuget.cache
backend/MerkERP.API/bin/Debug/net9.0/appsettings.Development.json
backend/MerkERP.API/bin/Debug/net9.0/appsettings.json
backend/MerkERP.API/bin/Debug/net9.0/Azure.Core.dll
backend/MerkERP.API/bin/Debug/net9.0/Azure.Identity.dll
backend/MerkERP.API/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/Humanizer.dll
backend/MerkERP.API/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/MerkERP.API.deps.json
backend/MerkERP.API/bin/Debug/net9.0/MerkERP.API.dll
backend/MerkERP.API/bin/Debug/net9.0/MerkERP.API.exe
backend/MerkERP.API/bin/Debug/net9.0/MerkERP.API.pdb
backend/MerkERP.API/bin/Debug/net9.0/MerkERP.API.runtimeconfig.json
backend/MerkERP.API/bin/Debug/net9.0/MerkERP.API.staticwebassets.endpoints.json
backend/MerkERP.API/bin/Debug/net9.0/MerkERP.Core.dll
backend/MerkERP.API/bin/Debug/net9.0/MerkERP.Core.pdb
backend/MerkERP.API/bin/Debug/net9.0/MerkERP.DAL.dll
backend/MerkERP.API/bin/Debug/net9.0/MerkERP.DAL.pdb
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.Build.Locator.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.Data.SqlClient.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Design.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Relational.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.SqlServer.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.Extensions.Caching.Memory.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.Extensions.DependencyModel.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.Identity.Client.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.Identity.Client.Extensions.Msal.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.IdentityModel.Tokens.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.OpenApi.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.SqlServer.Server.dll
backend/MerkERP.API/bin/Debug/net9.0/Microsoft.Win32.SystemEvents.dll
backend/MerkERP.API/bin/Debug/net9.0/Mono.TextTemplating.dll
backend/MerkERP.API/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
backend/MerkERP.API/bin/Debug/net9.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
backend/MerkERP.API/bin/Debug/net9.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
backend/MerkERP.API/bin/Debug/net9.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
backend/MerkERP.API/bin/Debug/net9.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
backend/MerkERP.API/bin/Debug/net9.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
backend/MerkERP.API/bin/Debug/net9.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
backend/MerkERP.API/bin/Debug/net9.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
backend/MerkERP.API/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
backend/MerkERP.API/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
backend/MerkERP.API/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
backend/MerkERP.API/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
backend/MerkERP.API/bin/Debug/net9.0/Swashbuckle.AspNetCore.Swagger.dll
backend/MerkERP.API/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerGen.dll
backend/MerkERP.API/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
backend/MerkERP.API/bin/Debug/net9.0/System.ClientModel.dll
backend/MerkERP.API/bin/Debug/net9.0/System.CodeDom.dll
backend/MerkERP.API/bin/Debug/net9.0/System.Composition.AttributedModel.dll
backend/MerkERP.API/bin/Debug/net9.0/System.Composition.Convention.dll
backend/MerkERP.API/bin/Debug/net9.0/System.Composition.Hosting.dll
backend/MerkERP.API/bin/Debug/net9.0/System.Composition.Runtime.dll
backend/MerkERP.API/bin/Debug/net9.0/System.Composition.TypedParts.dll
backend/MerkERP.API/bin/Debug/net9.0/System.Configuration.ConfigurationManager.dll
backend/MerkERP.API/bin/Debug/net9.0/System.Drawing.Common.dll
backend/MerkERP.API/bin/Debug/net9.0/System.Formats.Asn1.dll
backend/MerkERP.API/bin/Debug/net9.0/System.IdentityModel.Tokens.Jwt.dll
backend/MerkERP.API/bin/Debug/net9.0/System.Memory.Data.dll
backend/MerkERP.API/bin/Debug/net9.0/System.Runtime.Caching.dll
backend/MerkERP.API/bin/Debug/net9.0/System.Security.Cryptography.ProtectedData.dll
backend/MerkERP.API/bin/Debug/net9.0/System.Security.Permissions.dll
backend/MerkERP.API/bin/Debug/net9.0/System.Text.Json.dll
backend/MerkERP.API/bin/Debug/net9.0/System.Windows.Extensions.dll
backend/MerkERP.API/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/MerkERP.API/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/MerkERP.API/obj/Debug/net9.0/ApiEndpoints.json
backend/MerkERP.API/obj/Debug/net9.0/apphost.exe
backend/MerkERP.API/obj/Debug/net9.0/EndpointInfo/MerkERP.API.json
backend/MerkERP.API/obj/Debug/net9.0/EndpointInfo/MerkERP.API.OpenApiFiles.cache
backend/MerkERP.API/obj/Debug/net9.0/MerkERP..88798F3B.Up2Date
backend/MerkERP.API/obj/Debug/net9.0/MerkERP.API.csproj.BuildWithSkipAnalyzers
backend/MerkERP.API/obj/Debug/net9.0/MerkERP.API.csproj.CoreCompileInputs.cache
backend/MerkERP.API/obj/Debug/net9.0/MerkERP.API.csproj.FileListAbsolute.txt
backend/MerkERP.API/obj/Debug/net9.0/MerkERP.API.dll
backend/MerkERP.API/obj/Debug/net9.0/MerkERP.API.genruntimeconfig.cache
backend/MerkERP.API/obj/Debug/net9.0/MerkERP.API.MvcApplicationPartsAssemblyInfo.cache
backend/MerkERP.API/obj/Debug/net9.0/MerkERP.API.MvcApplicationPartsAssemblyInfo.cs
backend/MerkERP.API/obj/Debug/net9.0/MerkERP.API.pdb
backend/MerkERP.API/obj/Debug/net9.0/MerkERP.API.sourcelink.json
backend/MerkERP.API/obj/Debug/net9.0/ref/MerkERP.API.dll
backend/MerkERP.API/obj/Debug/net9.0/refint/MerkERP.API.dll
backend/MerkERP.API/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
backend/MerkERP.API/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
backend/MerkERP.API/obj/Debug/net9.0/staticwebassets.build.endpoints.json
backend/MerkERP.API/obj/Debug/net9.0/staticwebassets.build.json
backend/MerkERP.API/obj/Debug/net9.0/staticwebassets.build.json.cache
backend/MerkERP.API/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
backend/MerkERP.Core/bin/Debug/net9.0/MerkERP.Core.deps.json
backend/MerkERP.Core/bin/Debug/net9.0/MerkERP.Core.dll
backend/MerkERP.Core/bin/Debug/net9.0/MerkERP.Core.pdb
backend/MerkERP.Core/obj/Debug/net9.0/MerkERP.Core.csproj.BuildWithSkipAnalyzers
backend/MerkERP.Core/obj/Debug/net9.0/MerkERP.Core.csproj.CoreCompileInputs.cache
backend/MerkERP.Core/obj/Debug/net9.0/MerkERP.Core.csproj.FileListAbsolute.txt
backend/MerkERP.Core/obj/Debug/net9.0/MerkERP.Core.dll
backend/MerkERP.Core/obj/Debug/net9.0/MerkERP.Core.pdb
backend/MerkERP.Core/obj/Debug/net9.0/MerkERP.Core.sourcelink.json
backend/MerkERP.Core/obj/Debug/net9.0/ref/MerkERP.Core.dll
backend/MerkERP.Core/obj/Debug/net9.0/refint/MerkERP.Core.dll
backend/MerkERP.DAL/bin/Debug/net9.0/MerkERP.Core.dll
backend/MerkERP.DAL/bin/Debug/net9.0/MerkERP.Core.pdb
backend/MerkERP.DAL/bin/Debug/net9.0/MerkERP.DAL.deps.json
backend/MerkERP.DAL/bin/Debug/net9.0/MerkERP.DAL.dll
backend/MerkERP.DAL/bin/Debug/net9.0/MerkERP.DAL.pdb
backend/MerkERP.DAL/bin/Debug/net9.0/MerkERP.DAL.runtimeconfig.json
backend/MerkERP.DAL/obj/Debug/net9.0/MerkERP..E3000045.Up2Date
backend/MerkERP.DAL/obj/Debug/net9.0/MerkERP.DAL.csproj.BuildWithSkipAnalyzers
backend/MerkERP.DAL/obj/Debug/net9.0/MerkERP.DAL.csproj.CoreCompileInputs.cache
backend/MerkERP.DAL/obj/Debug/net9.0/MerkERP.DAL.csproj.FileListAbsolute.txt
backend/MerkERP.DAL/obj/Debug/net9.0/MerkERP.DAL.dll
backend/MerkERP.DAL/obj/Debug/net9.0/MerkERP.DAL.genruntimeconfig.cache
backend/MerkERP.DAL/obj/Debug/net9.0/MerkERP.DAL.pdb
backend/MerkERP.DAL/obj/Debug/net9.0/MerkERP.DAL.sourcelink.json
backend/MerkERP.DAL/obj/Debug/net9.0/ref/MerkERP.DAL.dll
backend/MerkERP.DAL/obj/Debug/net9.0/refint/MerkERP.DAL.dll
backend/.vs/MerkERP/v17/DocumentLayout.json
backend/.vs/MerkERP/v17/DocumentLayout.backup.json
backend/.vs/MerkERP/v17/.suo
backend/.vs/MerkERP/config/applicationhost.config
backend/.vs/MerkERP/FileContentIndex/cc6fb620-ca64-4bb6-8ced-690ccef4bcd0.vsidx
backend/.vs/MerkERP/FileContentIndex/32d2d5b6-adf2-4f6a-be18-20d853e19e65.vsidx
backend/.vs/MerkERP/FileContentIndex/20840dc0-0a5c-46e9-a446-8daf26d1d6cc.vsidx
backend/.vs/MerkERP/FileContentIndex/0be5df54-df98-4bdf-b00d-b19d14a2c0ee.vsidx
backend/.vs/MerkERP/FileContentIndex/72671052-08ab-4953-b9de-6e8e041f41bc.vsidx
backend/.vs/MerkERP/FileContentIndex/05d049b0-0ded-41fd-a8a0-4ebc1d01847b.vsidx
backend/.vs/MerkERP/FileContentIndex/1ae30f8a-fbd7-441c-a024-8421762df789.vsidx
backend/.vs/MerkERP/FileContentIndex/7fa520b0-650c-44f4-bcf8-79394f18a81f.vsidx
backend/.vs/MerkERP/FileContentIndex/1372bef7-538e-46ae-be60-8584ae28526c.vsidx
backend/.vs/MerkERP/FileContentIndex/c46af193-928a-42fe-ae81-5dc3283079a9.vsidx
backend/.vs/MerkERP/FileContentIndex/0d21cdbc-9d56-49b7-b819-c96670d4bfa0.vsidx
backend/.vs/MerkERP/FileContentIndex/6d0be672-8c39-44f9-ad4c-90fffe30962d.vsidx
backend/.vs/MerkERP/FileContentIndex/c23789ef-d664-4da6-be18-861455024d2b.vsidx
backend/.vs/MerkERP/DesignTimeBuild/.dtbcache.v2
backend/.vs/MerkERP/FileContentIndex/4459b5d5-e73f-4c3c-98a7-0a7560605c77.vsidx
backend/.vs/MerkERP/FileContentIndex/8a47ec74-f205-42a0-8aac-4873c40afcb8.vsidx
backend/.vs/MerkERP/FileContentIndex/bf7f4777-06e0-4bf3-bc21-066b14714d85.vsidx
backend/.vs/MerkERP/FileContentIndex/995a6f95-1e5b-4205-9c15-0f5438ef30ba.vsidx
backend/.vs/MerkERP/FileContentIndex/9abb75c0-cce1-4108-920d-870e99a17b81.vsidx
backend/.vs/MerkERP/FileContentIndex/e8c660d7-6a37-4245-b292-0a7b175959eb.vsidx
backend/.vs/MerkERP/FileContentIndex/fdbc5720-0430-49ca-8096-e6103ec834d3.vsidx
backend/.vs/MerkERP/FileContentIndex/003e2e0b-5b9b-4423-8dfd-8c323d46adbc.vsidx
backend/.vs/MerkERP/FileContentIndex/5eaf93b3-5811-4f7c-b7a4-e91070fbd462.vsidx
backend/.vs/MerkERP/FileContentIndex/b560437e-0d3e-4a66-bf00-c50c946be860.vsidx
backend/.vs/MerkERP/FileContentIndex/d71105d2-ce25-48ad-9fe1-6de5984509f2.vsidx
backend/.vs/MerkERP/FileContentIndex/ce507775-fd3b-4686-8620-dbcb4b49213e.vsidx
backend/.vs/MerkERP/FileContentIndex/1c46d4e0-c504-462e-bdd5-a6ef2f155050.vsidx
backend/.vs/MerkERP/FileContentIndex/a1c8fd18-0be8-4771-9527-b9df1f15401e.vsidx
backend/.vs/MerkERP/FileContentIndex/eb90ed1d-c879-4401-8086-7a434962d73c.vsidx
backend/.vs/MerkERP/FileContentIndex/f9f54c22-39e5-4cdc-b8b8-13f46277c13a.vsidx
backend/.vs/MerkERP/FileContentIndex/9e3661ec-217c-4f4f-866d-373c315fcb14.vsidx
backend/.vs/MerkERP/FileContentIndex/1d994bf7-7252-49d3-bf16-dd4b0f7de3c8.vsidx
backend/.vs/MerkERP/FileContentIndex/06a3efb1-b68c-4cdf-9bf4-748f454a31c9.vsidx
backend/.vs/MerkERP/FileContentIndex/877326f3-0614-442e-be3e-c084d0a15471.vsidx
*.vsidx
